---
import { GITHUB_PROFILE_URL } from "../../common/github";
import { LINKEDIN_PROFILE_URL } from "../../common/linkedin";
import { CV_PATH, EMAIL_ADDRESS } from "../../common/personalAssets";
import Heading2 from "../content/Heading2.astro";
import Text from "../content/Text.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import PdfIcon from "../icons/PdfIcon.astro";
import FooterLink from "./FooterLink.astro";

const iconSize = 16;
---

<footer
  id="footer"
  class="w-full px-8 lg:px-0 py-8 flex flex-col gap-8 lg:gap-0 lg:flex-row lg:justify-evenly"
>
  <section class="flex flex-col gap-4">
    <Heading2>Valentin Karadzhov</Heading2>
    <Text>TypeScript and .NET developer and a web designer</Text>
  </section>
  <section class="flex flex-col gap-4">
    <Heading2>External links</Heading2>
    <ul role="list" class="flex flex-col gap-4">
      <Text selector="li">
        <FooterLink href={`mailto:${EMAIL_ADDRESS}`}>
          <EmailIcon size={iconSize} slot="icon" />
          {EMAIL_ADDRESS}
        </FooterLink>
      </Text>
      <Text selector="li">
        <FooterLink href={GITHUB_PROFILE_URL} target="_blank">
          <GitHubIcon size={iconSize} slot="icon" />
          GitHub profile
        </FooterLink>
      </Text>
      <Text selector="li">
        <FooterLink href={LINKEDIN_PROFILE_URL} target="_blank">
          <LinkedInIcon size={iconSize} slot="icon" />
          LinkedIn profile
        </FooterLink>
      </Text>
      <Text selector="li">
        <FooterLink href={`/Valentin-Karadzhov${CV_PATH}`} target="_blank">
          <PdfIcon size={iconSize} slot="icon" />
          Open my CV in a new tab
        </FooterLink>
      </Text>
    </ul>
  </section>
</footer>

<style lang="scss" is:global>
  #footer {
    background-color: #000000;
    color: #ffffff;

    svg {
      fill: #ffffff;
    }
  }

  html.high-contrast {
    #footer {
      background-color: #000000;
      color: #ffffff;
      border-top: 3px solid white;

      svg {
        fill: #ffffff;
      }
    }
  }
</style>
